[submodule "cantica-api"]
	path = cantica-api
	url = /home/osteck/Sources/cantica-api
[submodule "cantica-frontend"]
	path = cantica-frontend
	url = ../cantica-frontend
[submodule "cantica-web"]
	path = cantica-web
	url = /home/osteck/Sources/cantica-project/cantica-web
[submodule "cantica-studio"]
	path = cantica-studio
	url = /home/osteck/Sources/cantica-project/cantica-studio
